<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}">Insert title here</title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<a th:href="@{/form}" class="btn btn-primary-btn-xs">Crear cliente</a>
<table>
<thead>
<tr>
<td>id</td>
<td>nombre</td>
<td>apellido</td>
<td>email</td>
<td>fecha</td>
<th>editar</th>
</tr>
</thead>
<tbody>
<tr th:each="cliente: ${clientes}">
<td th:text="${cliente.id}">id</td>
<td th:text="${cliente.nombre}">nombre</td>
<td th:text="${cliente.apellido}">apellido</td>
<td th:text="${cliente.email}">email</td>
<td th:text="${cliente.createAt}">fecha</td>
<td><a class="btn btn-primary-btn-xs" th:href="@{/form/}+${cliente.id}"th:text="editar"></a></td>
</tr>
</tbody>
</table>


</body>
</html>